@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');

:root {
    --bg-color: #FDF8EC;
    --black: #20262D;
    --red: #f35555; 
    --blue: #5353e2;
    --green: #C1CD89;
    --orange: #F8CB9C;
    --text-color: var(--black);
    --border-color: var(--black);
    --border-width: 3px;
    --btn-box-shadow: 2px 4px var(--black);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
}

.header {
    display: flex;
    background-color: var(--green);
    height: 100px;
    padding: 0 10%;
    justify-content: space-between;
    border-bottom: var(--border-width) solid var(--border-color);
    align-items: center;
}

.title{
    font-family: 'Inconsolata', monospace;
    font-size: 65px;
}

.red{
    color: var(--red);
    font-size: 50px;
}

.blue{
    color: var(--blue);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--orange);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    outline: 2px solid var(--black);
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--green);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    outline: var(--border-width) solid var(--border-color);
}

.slider.round:before {
    border-radius: 50%;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    min-width: 650px;
    padding-top: 20px;
    border-left: var(--border-width) solid var(--border-color);
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
}

.clock {
    user-select: none;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: var(--orange);
    border-radius: 50%;
    outline: 5px solid var(--border-color);
    box-shadow: inset 0px 0px 80px rgb(0 0 0 / 10%);
}

.hour{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: block;
}

.row {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.column {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.center{
    width: 20px;
    height: 20px;
    background-color: var(--black);
    border-radius: 50%;
    z-index: 8;
}

.arrow{
    position: fixed;
    transform-origin: bottom center;
    border-radius: 100% 100% 0 0;
}

.hours{
    margin-inline: 194px;
    width: 12px;
    height: 140px;
    margin-top: 60px;
    z-index: 7;
    background-color: var(--black);
}

.seconds{
    width: 5px;
    height: 100px;
    margin-top: 100px;
    margin-inline: 196px;
    background-color: var(--red);
    z-index: 5;
}

.minutes{
    width: 10px;
    height: 120px;
    margin-top: 80px;
    margin-inline: 194px;
    background-color: var(--blue);
    z-index: 6;
}

.controls {
    display: flex;
    background-color: var(--green);
    margin-top: 20px;
    width: 100%;
    gap: 25px;
    padding-top: 20px;
    border-bottom: var(--border-width) solid var(--border-color);
    padding-bottom: 20px;
    border-top: var(--border-width) solid var(--border-color);
    justify-content: center;
    align-items: stretch;
}

.btn {
    display: block;
    width: 180px;
    height: 30px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    border: var(--border-width) solid var(--border-color);
    cursor: pointer;
    box-shadow: 2px 4px #20262d;
    transition: .4s ease-in-out;
}

.btn:hover {
    box-shadow: 0 0 #20262d;
}

.speed-select {
    font-family: 'Inconsolata','FontAwesome', monospace;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
    text-align: center;
    box-shadow: 2px 4px #20262d;
    border: var(--border-width) solid var(--border-color);
    transition: .4s ease-in-out;
}

.speed-select:hover{
    box-shadow: 0 0 #20262d;
}

.speed-select:focus{
    outline: none;
}

.number{
    display: inline-block;
    width: 50px;
}

.digital {
    user-select: none;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    padding: 19px 0;
    font-family: 'Montserrat', sans-serif;
    border-top: 20px solid var(--orange);
    border-bottom: 20px solid var(--orange);
    font-size: 30px;
}

.blink {
    animation: blink 1s step-start 0s infinite;
    opacity: 0;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}